@import url(color.css);
@import url(fonts.css);
/*default css*/   

*{padding: 0;margin: 0;}

.ashoka-logo {
    margin: 10px 0 0;
}

.map {
    height: 200px;
}
a{text-decoration: none;}
body {font-family: 'Josefin Sans', sans-serif!important;font-size: 14px;color: #363661;}
html {scroll-behavior: smooth;}
h1{font-family: 'Nunito', sans-serif!important;font-size: 40px!important;color: var(--blacksec);margin: 50px auto 60px auto;font-weight: bold!important;}
h2{font-family: 'Nunito', sans-serif!important;font-size: 35px!important;text-align: center;margin: 50px auto!important;font-weight: bold!important;color: var(--blacksec)!important;}

#our-services h2 {
    margin: 80px auto!important;
}
h3{font-family: 'Candara';font-size: 20px!important; text-align: center; color: var(--blacksec);}
.fltLeft { float: left;}
.fltRight {float: right;}
.clear {clear: both;}
.btn {
    padding: 5px 18px 3px!important;
    background: var(--greenprimary)!important;
    border-radius: 10px!important;
    font-size: 14px!important;
    color: var(--white) !important;
    font-family: 'Josefin Sans', sans-serif!important;
    }

.button-test a.btn {font-size: 16px!important;}
/*Menu*/    
#top-menu{
    border-top: 5px solid var(--greenprimary);
    position: relative;
    min-height: 170px;
}
#top-menu .left-pattern{
    width: 100%;
    height: 150px;
    background: url(../image/left-pattern.png);
    background-repeat: no-repeat;
    opacity: 0.3;
}
#top-menu .right-pattern{
    width: 100%;
    height: 200px;
    background: url(../image/right-pattern.png);
    background-repeat: no-repeat;
    opacity: 0.3;
    
}
#top-menu .ashoka-logo img {
    max-height: 120px;
    /* margin-top: 20px; */
}
#top-menu .menu-bar{
    /* position: absolute!important; */
    bottom: -50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 80%;
    z-index: 1000;
}
#top-menu .row{
}
.menu-bar .bg-light{
    background-color: var(--blacksec)!important;
    border-radius: 8px;
    width: 90%;
    float: right;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: var(--white)!important;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--white)!important;
    font-size: 16px;
    padding: 10px 15px!important;
}
.navbar-light .navbar-nav .active>.nav-link:after, .navbar-light .navbar-nav .nav-link.active:after, .navbar-light .navbar-nav .nav-link.show:after, .navbar-light .navbar-nav .show>.nav-link:after, .navbar-light .navbar-nav .nav-link:hover::after{
    /* content: ''; */
    display: block;
    width: 100%;
    height: 2px;
    background: var(--greenprimary);
    margin: 5px 0 0 0;
    transition: all 0.5s;
}
.btn-outline-success {border-color: var(--greenprimary)!important;font-size: 18px!important;}
.btn-outline-success:hover {background: var(--greenprimary)!important;}
.bootstrap-iso .form-control:focus{
    border-color: var(--greenprimary);}
/* Slider css start */
.carousel-item{ 
    height: 600px!important;
}
.carousel-item p{ 
    font-size: 20px;
}

.testimonal-pattern p.testimonial-text {
    margin: 0 0 25px 0;
    min-height: 80px;
}
#slider{
    z-index: 1;
    height: 600px;
}
.carousel-inner::after{
    /* content:""; */
    /* display:block; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: rgba(0,0,0,0.5); */
    z-index: 1;
}
.carousel-caption{
    right: 0!important;
    width: 35%!important;
    left: auto!important;
    bottom: 70px!important;
    background: rgba(0,0,0,0.7)!important;
    border-bottom: 10px solid #739e00;
}
.carousel-inner{
    height: 600px!important;
}

.testimonal-pattern .carousel-inner {
    height: auto!important;
}

.slide_1{
    background: url(../image/slide-1.jpg);
    background-size: cover;
    background-position: center;
}
.slide_2{
    background: url(../image/slide-2.jpg);
    background-size: cover;
    background-position: center;
}
.slide_3{
    background: url(../image/slide-3.jpg);
    background-size: cover;
    background-position: center;
}

/* services start */

#our-services{
   padding: 0 0 40px 0!important;
}
.service-bottom{
    padding: 
80px 0 0;
}
.service-box{
    position: relative;
    padding: 60px 10px 0px;
    max-height: 300px;
    min-height: 225px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 07%);
    cursor: pointer;
}
.service-box p{
    /* height: 122px; */
    color: #3e3e3e!important;
    font-weight: 500;
    font-size: 14px;
}
#our-services .col-sm-2{
    flex: 0 0 19.666667%!important;
    max-width: 19.666667%!important;
}
.service-box h3{
    color: var(--greenprimary);
    font-weight: bold;
}
.img{
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 100px;
    background: rgba(251,247,247,1);
    border-radius: 100px;
    line-height: 100px;
    border: 1px solid rgb(216, 215, 215);
}
.img:hover{
    box-shadow: 0 0 2px 2px rgba(140, 174, 46);
}
.service-box:hover{box-shadow: 0 0 2px 2px rgba(140, 174, 46);
    
}
.services-model .modal-header {
    background: var(--greenprimary);
    
}
.services-model .modal-header h2{
    margin: 0!important;
    color: var(--white)!important;
    font-size: 22px!important;
}
.services-model .modal-body p{
    padding: 10px!important;
    color: #737373;
    font-size: 15px;
}
.services-model .modal-body p b{
    color: #363636;
    font-size: 16px;
}
.services-model .close {
    top: 0px!important;
    bottom: auto;
    right: 10px;
}
#our-services .row{
    /* margin-top: 80px; */
}
#about-us{
    padding: 0 0 80px;
    position: relative;
    background: #efefef;
}
#about-us h2{
}
#our-team{
    position: relative;
    background: #739e00;
}
#our-team h2{color: #fff!important;}

/* Gallery start */
#our-gallery{
    text-align: center;
}
#our-gallery .col-md-3{
    margin:20px 0;
}
.gallery-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
}
.child{
    height: 100%;
    width: 100%;
    transition: all 0.2s;
}
.child-1{
    background: url(../image/gall-1.jpg);    
    background-position: center;
    background-size: cover;    
}
.child-2{
    background: url(../image/gall-2.jpg);
    background-position: center;
    background-size: cover;
}
.child-3{
    background: url(../image/gall-3.jpg);    
    background-position: center;
    background-size: cover;    
}
.child-4{
    background: url(../image/gall-4.jpg);    
    background-position: center;
    background-size: cover;    
}
.child-5{
    background: url(../image/gall-5.jpg);    
    background-position: center;
    background-size: cover;    
}
.child-6{
    background: url(../image/gall-6.jpg);
    background-position: center;
    background-size: cover;
}
.child-7{
    background: url(../image/gall-7.jpg);    
    background-position: center;
    background-size: cover;    
}
.child-8{
    background: url(../image/gall-8.jpg);    
    background-position: center;
    background-size: cover;    
}
.gallery-img:hover .child{
    transform: scale(1.2);
}
.modal-body{
    width: 100%;
    height: 498px!important;
    background: #e6e4e4;
    padding: 5px!important;
}

.services-model .modal-body {
    overflow-y: auto;
}
.modal-footer{
    background: var(--blacksec);
    border-top:none!important;
}
.close {
    font-size: 50px!important;
    font-weight: normal!important;
    color: #ffffff!important;
    position: absolute!important;
    top: 0px;
    right: 10px;
}
button.close:focus{
    outline: 0!important;
    border: 0!important;
}

.modal {
    top: 40px!important;
}
.services-model .modal-content {
    border: 1px solid rgb(230 228 228);
}

/* Testimonials start */
#testimonal{
    padding: 0 0 80px;
    position: relative;
}
.button-test{
    position: relative;
    text-align: center;
}
.testimonal-pattern{
    background: url(../image/testimonial-pattern.png);
    min-height: 340px;
    max-height: 450px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}
.about-us-pattern{
    background: url(../image/testimonial-pattern.png);
    min-height: 470px;
    max-height: 450px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}
.our-team-pattern{
    /* background: url(../image/testimonial-pattern.png); */
    /* min-height: 470px; */
    /* max-height: 450px; */
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    color: #fff;
}
.quotes{
    border: 1px solid #739e00;
    border-radius: 5px;
    padding: 10px;
    color: #767676;
}

#testimonal h2{
}


#testimonal .carousel .carousel-item {
	color: var(--blacksec)!important;
	font-size: 16px!important;
	/* text-align: right!important; */
	overflow: hidden!important;
	height: 180px!important;
}



#testimonal .carousel .overview {
	/* text-align: right!important; */
	padding-bottom: 5px!important;
	font-weight: bold!important;
}
#testimonal .carousel .overview{
	color: var(--greenprimary)!important;
	font-size: 16px!important;
	text-transform: uppercase!important;
	
	padding-bottom: 5px!important;
}
#testimonal .carousel .star-rating i {
	font-size: 16px!important;
	color: var(--greenprimary)!important;
}
#testimonal .carousel-control-prev, .carousel-control-next {
	/* width: 30px!important; */
	/* height: 30px!important; */
	/* color: var(--greenprimary)!important; */
	/* background:  var(--white)!important; */
	/* box-shadow: 0 0 5px #787777!important; */
	/* text-shadow: none!important; */
	/* top: 174px!important; */
	/* right: 4px!important; */
	display: none;
}
#testimonal .carousel-control-prev i, .carousel-control-next i {
	font-size: 20px!important;
	margin-right: 2px!important;
}
#testimonal .carousel-control-prev {
}
#testimonal .carousel-control-next i {
	margin-right: -2px!important;
}

#testimonal .carousel-item:after {
    display: none!important;
}
#testimonal .right-box{
    text-align: center!important;
}
/* footer start*/
#footer{
    background: #e9e9e9;
    height: auto;
    margin-top: 40px;
    padding: 0 0 40px 0;
}
#footer  h1{
   text-align: center;
   color: var(--greenprimary);
   padding: 40px 0 0;
}

#footer .info-box{
    background: url(../image/info-bg.jpg);
    height: 447px;
    padding: 4px 0 30px 30px;
    
    
    
}
.bootstrap-iso .form-control:focus{
    border-color: var(--greenprimary);
}
#footer .info-box h1{
    color: var(--white);
    text-align: right;
    margin: 0px 0 0px 0;
    padding-bottom: 30px;
}

#footer .form-box{
    width: 500px;
    margin: 0 auto;
}
#footer .info-box a img{

    margin-bottom: 50px;
}
#footer .info-box a .info-text{
    margin-left: 50px;
    
}

#footer .info-box a{
    display: block;
    color: var(--white);
    margin-bottom: 30px;
    

}
#footer p{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

#footer .email-box{

}

#footer .form-box .form-control {
    border-radius: 0;
    background: #dddcdc00;
    color: var(--blacksec);
    margin: 30px 0;
    border: 1px solid #d2d1d1;
    border-radius: 5px;
    line-height: 1;
    padding: 10px 11px 8px;
}
.form-btn{
    width: 100%;
    padding: 11px 15px;
    background: var(--greenprimary);
    border-radius: 10px;
    font-size: 14px;
    color: var(--white) !important;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
#footer .social-icon a{
    color: var(--white);
    font-size: 26px;
    display: inline;
    padding-left: 35px;
    transition: all 0.2s;
}
#footer .social-icon a:hover{
    color: var(--greenprimary);
    text-decoration: none!important;
}  


#footer p{
    color: var(--blacksec);
    font-size: 18px;
    margin-left: 50px;
}

#footer .social-icon a:first-child {
    padding: 0;
}

.carousel-caption.d-md-block h2 {
    color: #ffffff!important;
    margin: 0!important;
    line-height: 64px;
    font-weight: normal!important;
}


iframe header{
    display: none!important;

}

.float-r{
	position:fixed;
	width: 50px;
	height: 50px;
	bottom: 100px;
	right: 10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
	line-height: 59px;
}
.float-l{
	position:fixed;
	width: 50px;
	height: 50px;
	bottom:40px;
	right: 10px;
	background-color: #2596d3;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
	line-height: 59px;
}

.my-float{
	/* margin-top:16px; */
}
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}

.star-rating ul.list-inline {
    margin: 0 0 5px 0;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	color: #fff;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}

.our-webcoderskull .cnt-block{
   float:left;
   width:100%;
   /* background:#fff; */
   padding:30px 20px;
   text-align:center;
   box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
   margin: 0 0 28px;
   border-radius: 20px;
}
.our-webcoderskull .cnt-block figure{
   width:100px; 
   height:100px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:100; 
   height:100px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{
   color: #ffffff;
   font-size:15px !important;
   font-weight:500;
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
  color: #ffffff;
}

.our-webcoderskull .cnt-block h3 a:hover {
    color: #739e00!important;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{
   color: #ffffff;
   font-size:13px;
   line-height:20px;
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}
